#history_container {

    //justify-content: center;
    width: 100%;
    height: 100%;

    .history_main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;

        .history_box {
            //height: 20%;
            width: 95%;
            margin: 1rem;
            background-color: white;
            border-radius: 1rem;

            .history_content {
                margin: 1rem;
                display: flex;
                flex-direction: row;

                .img_dialog {

                    width: 400px;
                    margin-right: 10px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .price_btn {
                    button {
                        border-radius: 2rem;
                        border: none;
                        padding: 0.5rem;
                        height: 2rem;
                        width: 5rem;
                        background-color: #4B60EE;
                        color: white;
                        font-size: 11px;
                        cursor: pointer;
                    }
                }

                .price_btn_2 {
                    button {
                        border-radius: 2rem;
                        border: none;
                        padding: 0.5rem;
                        height: 2rem;
                        width: 5rem;
                        background-color: #0e1757;
                        color: white;
                        font-size: 11px;
                        //cursor: pointer;
                    }
                }

                .price_btn:hover {
                    button {
                        background-color: #3c4ec7;
                    }
                }
            }
        }

    }

    .history_main::-webkit-scrollbar {
        display: none;
    }
}

#payment_dialog {
    border: none;
    border-radius: 0.5rem;

    #top_dialog {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
    }

    #main_dialog {
        .btn_both {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;

            button {
                border-radius: 0.2rem;
                border: none;
                padding: 5px;
                background-color: #4B60EE;
                color: white;
                cursor: pointer;
            }
        }
    }
}