<div id="history_container">
    <div class="history_main">
        <div class="history_box" *ngFor="let reservation of reservations">
            <div class="history_content">
                <!-- <div class="img_dialog">
                    <img *ngFor="let img of reservation.carId.img" [src]="img" alt="" />
                  </div> -->
                <h2>Tên xe: {{reservation.carId.name}}</h2>
                <h2>Ngày bắt đầu thuê: {{ reservation.startDate | date: 'dd/MM/yyyy' }}</h2>
                <h2>Ngày kết thúc thuê: {{reservation.endDate | date: 'dd/MM/yyyy'}}</h2>
                <h2 *ngIf="reservation.status == false">Trạng thái: Chưa thanh toán</h2>
                <h2 *ngIf="reservation.status == true">Trạng thái: Đã thanh toán</h2>
                <h2>Tổng tiền: {{reservation.total}}</h2>
                <div class="price_btn">
                    <button style="margin-right: 5px;">Submit</button>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
<div class="cart_box" *ngFor="let reservation of reservations">
    <div class="cart">
        <div class="cart_name">
            <h2>{{reservation.carId.name}}</h2>
            <h2>{{reservation.startDate}}</h2>
            <h2>{{reservation.endDate}}</h2>
            <h2>{{reservation.status}}</h2>
            <h2>{{reservation.total}}</h2>
        </div>
    </div>
</div> -->