#history_container {

    //justify-content: center;
    width: 100%;
    height: 100%;

    .history_main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;

        .history_box {
            //height: 20%;
            width: 95%;
            margin: 1rem;
            background-color: white;
            border-radius: 1rem;

            .history_content {
                margin: 1rem;
            }
        }

    }

    .history_main::-webkit-scrollbar {
        display: none;
    }


}