<div id="history_container">
    <div class="history_main">
        <div class="history_box" *ngFor="let reservation of reservations">
            <div class="history_content">
                <!-- <div class="img_dialog">
                    <img *ngFor="let img of reservation.carId.img" [src]="img" alt="" />
                  </div> -->
                <h2>Tên xe: {{reservation.carId.name}}</h2>
                <h2>Ngày bắt đầu thuê: {{ reservation.startDate | date: 'dd/MM/yyyy' }}</h2>
                <h2>Ngày kết thúc thuê: {{reservation.endDate | date: 'dd/MM/yyyy'}}</h2>
                <h2 *ngIf="reservation.status == false">Trạng thái: Chưa thanh toán</h2>
                <h2 *ngIf="reservation.status == true">Trạng thái: Đã thanh toán</h2>
                <h2>Tổng tiền: {{reservation.total}}</h2>
                <div class="price_btn">
                    <button style="margin-right: 5px;" (click)="openPaymentDialog(reservation)">Submit</button>

                </div>
            </div>
        </div>
    </div>
</div>


<dialog id="payment_dialog" style="color: #1f1a1c" #appDialog3>
    <div id="top_dialog">
        <p>Thanh toán</p>
    </div>
    <div id="main_dialog" *ngIf="isSelectedReservation">
        <div>
            <p>Reservation ID: {{paymentData.reservationId}}</p>
            <p>Customer ID: {{paymentData.customerId}}</p>
            <p>Total: {{selectedReservation.total}}</p>
        </div>
        <div class="btn_both">
            <button (click)="payForReservation()">Thanh toán</button>
            <button (click)="closePaymentDialog()">Close</button>
        </div>
    </div>
</dialog>