<div id="home_container">
    <div id="navbar_home">
        <div class="search">
            <div class="search_box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search car name, model">
            </div>

        </div>
        <div class="filter">
            <div class="filter_box">
                <img src="../../../../../assets/images/sort.png" alt="">
                <span>Filter</span>
            </div>
        </div>
    </div>
    <div id="main_home">
        <div class="cart_container" >
            <div class="cart_box" *ngFor="let car of carList">
                <div class="cart">
                    <div class="cart_img">
                        <img *ngFor="let img of car.image.urls" [src]="img" alt="" />
                    </div>
                    <div class="cart_name">
                        <h2>{{car.name}}</h2>
                    </div>
                    <div class="cart_decription">

                        <div class="range">
                            <div class="range_img">
                                <img src="../../../../../assets/images/car-icon.png" alt="">
                            </div>
                            <span>{{car.categoryId.name}}</span>
                        </div>
                        <div class="range">
                            <div class="range_img">
                                <img src="../../../../../assets/images/car-door.png" alt="">
                            </div>
                            <span>{{car.door}}</span>
                        </div>
                        <div class="range">
                            <div class="range_img">
                                <img src="../../../../../assets/images/seat.png" alt="">
                            </div>
                            <span>{{car.seat}}</span>
                        </div>
                    </div>
                    <div class="cart_price">
                        <div class="price_btn">
                            <button (click)="openRentcarDialog(car)">Rent Now</button>
                        </div>
                        <div class="price_value">
                            <h3>${{car.price}}</h3>
                            <span>/DAY</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dialog id="rentcar_dialog" style="color: #1f1a1c" #appDialog2>
    <div id="top_dialog">
        <div class="btnClose" (click)="closeRentcarDialog()">
            <i class="fa-regular fa-circle-xmark large-icon"></i>
        </div>
    </div>
    <div id="main_dialog" *ngIf="selectCar.name">
        <div class="characteristic_dialog">
            <div class="img_dialog">
                <img *ngFor="let img of selectCar.image.urls" [src]="img" alt="" />
            </div>
            <div class="right_dialog">
                <div class="name_car">
                    <h3>{{selectCar.name}}</h3>
                </div>

                <h6>Đặc điểm</h6>
                <div class="characteristic_car">
                    <div class="seat">
                        <div class="seat_img">
                            <img src="../../../../../assets/images/characteristic-car-seat.png" alt="">
                        </div>
                        <div class="seat_content">
                            <p style="font-size: 16px; color: #767676;">Số ghế</p>
                            <p style="margin: 0; font-size: 18px;font-weight: 600;">{{selectCar.seat}}</p>
                        </div>
                    </div>

                    <div class="seat">
                        <div class="seat_img">
                            <img src="../../../../../assets/images/characteristic-car-door.png" alt="">
                        </div>
                        <div class="seat_content">
                            <p style="font-size: 16px; color: #767676;">Số cửa</p>
                            <p style="margin: 0; font-size: 18px;font-weight: 600;">{{selectCar.door}}</p>
                        </div>
                    </div>

                    <div class="seat">
                        <div class="seat_img">
                            <img src="../../../../../assets/images/characteristic-car.png" alt="">
                        </div>
                        <div class="seat_content">
                            <p style="font-size: 16px; color: #767676;">Mẫu xe</p>
                            <p style="margin: 0; font-size: 18px;font-weight: 600;">{{selectCar.categoryId.name}}</p>
                        </div>
                    </div>

                    <div class="seat">
                        <div class="seat_img">
                            <img src="../../../../../assets/images/characteristic-car-oil.png" alt="">
                        </div>
                        <div class="seat_content">
                            <p style="font-size: 16px; color: #767676;">Nhiên liệu</p>
                            <p style="margin: 0; font-size: 18px;font-weight: 600;">Xăng</p>
                        </div>
                    </div>
                </div>
                <h6>Mô tả</h6>
                <div class=""></div>


                <!-- date-picker -->
                <div class="reservation-box">
                    <div class="top">
                        <div class="static">
                            <div class="input-container">
                                <label for="date-checkin">Nhận xe</label>
                                <input type="date" id="date-checkin" class="date-field" name="date-from">
                            </div>
                        </div>
                        <div class="flex">
                            <div class="input-container">
                                <label for="date-checkout">Trả xe</label>
                                <input type="date" id="date-checkout" class="date-field" name="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- date-picker -->

            </div>
        </div>
    </div>
</dialog>