<div id="home_container">
    <div id="navbar_home">
        <div class="search">
            <div class="search_box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search car name, model">
            </div>

        </div>
        <div class="filter">
            <div class="filter_box">
                <img src="../../../../../assets/images/sort.png" alt="">
                <span>Filter</span>
            </div>
        </div>
    </div>
    <div id="main_home">

        <div class="cart_container">
            <div class="cart_box">
                <div class="cart">
                    <div class="cart_img">
                        <img src="../../../../../assets/images/pexels-adrian-dorobantu-2127733.jpg" alt="">
                    </div>
                    <div class="cart_name">
                        <h2>Audio Q7</h2>
                    </div>
                    <div class="cart_decription">
                        <div class="cart_decription_box">
                            <div class="range">
                                <!-- <img src="../../../../../assets/images/car-icon.png" alt=""> -->
                                <span>SUV</span>
                            </div>
                            <div>
                                dasd
                            </div>
                        </div>



                    </div>
                    <div class="cart_price">

                    </div>
                </div>
            </div>
            <div class="cart_box">

            </div>
            <div class="cart_box">

            </div>
            <div class="cart_box">

            </div>
            <div class="cart_box">

            </div>
            <div class="cart_box">

            </div>
            <div class="cart_box">

            </div>
        </div>

    </div>

</div>