<div id="login_container">
    <div id="background_box">
    </div>
    <div id="login_box">
        <div id="login">
            <div class="login">
                <h2>Sign In</h2>
                <div class="input">
                    <input type="text" class="input1" placeholder="Email" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="input">
                    <input type="password" class="input1" placeholder="Password" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>

                <div class="btn_login">
                    <button class="button-4" role="button">Login with Google</button>
                </div>

            </div>
        </div>
    </div>
</div>