<div id="login_container">
    <div id="background_box">
    </div>
    <div id="login_box">
        <div id="login">
            <div class="login">
                <h2>Register</h2>
                <div>
                    <div class="input">
                        <input type="text" class="input1" placeholder="Email" required formControlName="email">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="input">
                        <input type="password" class="input1" placeholder="Password" required
                            formControlName="password">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="input">
                        <input type="password" class="input1" placeholder="Confirm Password" required
                            formControlName="password">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>

                <div class="btn_login">
                    <button class="button-4" role="button">Submit</button>
                </div>

                <!-- <div class="btn_login">
                    <button class="button-4" role="button">Login with Google</button>
                </div> -->
            </div>
        </div>
    </div>
</div>